<%= form_with(model: earning, local: true, class: 'form-horizontal') do |form| %>
  <% if earning.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% earning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :order_id, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.select :order_id, @orders.pluck(:title, :id), {}, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :occur_date, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.date_field :occur_date, id: :earning_occur_date, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :amount, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.text_field :amount, id: :earning_amount, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <div class="col-sm-1"></div>
      <%= form.submit class: 'btn btn-primary col-sm-1' %>
    </div>
  </div>
<% end %>
