<p>
  <strong>Order:</strong>
  <%= @earning.order&.title %>
</p>

<p>
  <strong>Occur date:</strong>
  <%= @earning.occur_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @earning.amount %>
</p>

<%= link_to t('.edit'), edit_earning_path(@earning) %> |
<%= link_to t('.back'), earnings_path %>
