<%= form_with(model: closing_group, local: true, class: 'form-horizontal') do |form| %>
  <% if closing_group.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% closing_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :name, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.text_field :name, id: :closing_group_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
