<%= form_with(model: estimate, local: true) do |form| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prospect_id %>
    <%= form.select :prospect_id, @prospects.map{|p| [p.title, p.id]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :estimate_title %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select :customer_id, @customers.map{|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :estimate_no %>
    <%= form.text_field :estimate_no, id: :estimate_estimate_no %>
  </div>

  <div class="field">
    <%= form.label :issue_date %>
    <%= form.date_select :issue_date, id: :estimate_issue_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :estimate_due_date %>
  </div>

  <div class="field">
    <%= form.label :due_date_pending_flag %>
    <%= form.check_box :due_date_pending_flag, id: :estimate_due_date_pending_flag %>
  </div>

  <div class="field">
    <%= form.label :payment_term %>
    <%= form.text_field :payment_term, id: :estimate_payment_term %>
  </div>

  <div class="field">
    <%= form.label :effective_date %>
    <%= form.date_select :effective_date, id: :estimate_effective_date %>
  </div>

  <div class="field">
    <%= form.label :tax_rate %>
    <%= form.text_field :tax_rate, id: :estimate_tax_rate %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, id: :estimate_remarks %>
  </div>

  <div class="field">
    <%= form.label :user_profile_id %>
    <%= form.select :user_profile_id, @users.map{|u| [u.name, u.id]} %>
  </div>

  <div class="details">
    <%= link_to_add_association t('.add_detail'), form, :estimate_details,
      data: {
        association_insertion_node: '#estimate_details',
        association_insertion_method: 'append'
      }
    %>
    <table>
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.estimate_detail.display_order') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.product_id') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.product_name') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.quantity') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.unit_price') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.price') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="estimate_details">
        <%= form.fields_for :estimate_details do |detail| %>
          <%= render 'estimate_detail_fields', f: detail %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
