<%= form_with(model: estimate, local: true, class: 'form-horizontal') do |form| %>
  <%= render 'shared/error_messages', object: estimate %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="field row">
          <%= form.label :prospect_id, class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= form.select :prospect_id, @prospects.map{|p| [p.title, p.id]}, { include_blank: true }, class: 'form-control form-control-sm searchable', id: :estimate_prospect_id %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="field row">
          <%= form.label :title, class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= form.text_field :title, id: :estimate_title, class: 'form-control form-control-sm' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field row">
          <%= form.label :customer_id, class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= form.select :customer_id, @customers.map{|c| [c.name, c.id]}, {include_blank: true}, class: 'form-control form-control-sm searchable', id: :estimate_customer_id %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="field row">
          <%= form.label :due_date, class: 'control-label col-sm-3' %>
          <div class="col-sm-4">
            <%= form.date_field :due_date, id: :estimate_due_date, class: 'form-control form-control-sm' %>
          </div>
          <div class="col-sm-2">
            <%= form.check_box :due_date_pending_flag, id: :estimate_due_date_pending_flag, class: 'form-control form-control-sm button-checkbox' %>
            <%= form.label :due_date_pending_flag, class: 'control-label button-label btn btn-outline-success' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="field row">
          <%= form.label :effective_date, class: 'control-label col-sm-3' %>
          <div class="col-sm-4">
            <%= form.date_field :effective_date, id: :estimate_effective_date, class: 'form-control form-control-sm' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="field row">
          <%= form.label :tax_rate, class: 'control-label col-sm-3' %>
          <div class="col-sm-2">
            <%= form.text_field :tax_rate, class: 'form-control form-control-sm', id: 'tax-rate' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="field row">
          <%= label_tag t('activerecord.attributes.estimate.total_amount'), nil, class: 'control-label col-sm-3' %>
          <div class="col-sm-4">
            <span class="font-weight-bold"><span id="total-amount"></span>円</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="field row">
          <%= form.label :estimate_no, class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= form.text_field :estimate_no, id: :estimate_estimate_no, class: 'form-control form-control-sm' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field row">
          <%= form.label :issue_date, class: 'control-label col-sm-3' %>
          <div class="col-sm-4">
            <%= form.date_field :issue_date, id: :estimate_issue_date, class: 'form-control form-control-sm' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field row">
          <%= form.label :payment_term, class: 'control-label col-sm-3' %>
          <div class="col-sm-9">
            <%= form.text_field :payment_term, id: :estimate_payment_term, class: 'form-control form-control-sm' %>
          </div>
        </div>
        <div class="form-group">
          <div class="field row">
            <%= form.label :user_profile_id, class: 'control-label col-sm-3' %>
            <div class="col-sm-9">
              <%= form.select :user_profile_id, @users.map{|u| [u.name, u.id]}, {}, class: 'form-control form-control-sm searchable' %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field row">
          <div class="col-sm-7">
            <span>
              <%= form.check_box :submitted_flag, id: :estimate_submitted_flag, class: 'form-control form-control-sm button-checkbox' %>
              <%= form.label :submitted_flag, class: 'control-label button-label btn btn-outline-success' %>
            </span>
            <span>
              <%= form.check_box :ordered_flag, id: :estimate_ordered_flag, class: 'form-control form-control-sm button-checkbox' %>
              <%= form.label :ordered_flag, class: 'control-label button-label btn btn-outline-success' %>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field row">
        </div>
      </div>
    </div>
  </div>
  
  <div class="details col-sm-12">
    <div class="row">
      <div class="col-sm-11"></div>
      <%= link_to_add_association t('.add_detail'), form, :estimate_details,
          data: {
            association_insertion_node: '#estimate_details',
            association_insertion_method: 'append'
          },
          class: 'btn btn-info btn-sm col-sm-1',
          id: 'add-detail-btn'
      %>
    </div>
    <table>
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.estimate_detail.display_order') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.product_id') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.product_name') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.quantity') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.unit_price') %></th>
          <th><%= t('activerecord.attributes.estimate_detail.price') %></th>
          <th></th>
       </tr>
      </thead>
      <tbody id="estimate_details">
        <%= form.fields_for :estimate_details do |detail| %>
          <%= render 'estimate_detail_fields', f: detail %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :remarks, class: 'control-label col-sm-4' %>
      <div class="col-sm-10">
        <%= form.text_area :remarks, id: :estimate_remarks, rows: 5, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= form.submit class: 'btn btn-primary col-sm-1' %>
    </div>
  </div>

<% end %>
