<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<div class="row">
  <%= form_tag estimates_path, method: :get, class: 'col-sm-6' do %>
    <div class="input-group input-group-sm">
      <%= text_field_tag :query, @query, class: 'form-control input-sm', placeholder: t('.search_placeholder') %>
      <span class="input-group-btn">
        <%= button_tag class: 'btn btn-default btn-sm' do %>
          <%= content_tag :span, t('.search') %>
        <% end %>
      </span>
    </div>
  <% end %>
  <div class="pull-right col-sm-2">
    <%= link_to t('.new_estimate'), new_estimate_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="row mt-3"></div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.estimate.prospect_id') %></th>
      <th><%= t('activerecord.attributes.estimate.title') %></th>
      <th><%= t('activerecord.attributes.estimate.customer_name') %></th>
      <th><%= t('activerecord.attributes.estimate.estimate_no') %></th>
      <th><%= t('activerecord.attributes.estimate.issue_date') %></th>
      <th><%= t('activerecord.attributes.estimate.ordered_flag') %></th>
      <th><%= t('activerecord.attributes.estimate.user_profile_id') %></th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= link_to t('.show'), estimate, class: 'btn btn-info btn-sm' %></td>
        <td><%= estimate.prospect.try(:title) %></td>
        <td><%= estimate.title %></td>
        <td><%= estimate.customer_name %></td>
        <td><%= estimate.estimate_no %></td>
        <td><%= estimate.issue_date %></td>
        <td><%= ordered_estimate_message(estimate) %></td>
        <td><%= estimate.user_profile.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @estimates, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

