<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "estimate_report" %>
  </head>
  <body>
    <h1><span id="estimate-title">御見積書</span></h1>

    <div id="header-container">
      <div id="left-block">
        <div id="customer-name-block"><span id="customer-name"><%= @estimate.customer_name %></span>御中</div>
        <div>件名：<%= @estimate.title %></div>
        <div>下記の通り、御見積申し上げます。</div>
  
        <div>納期：<%= @estimate.due_date.to_s %></div>
        <div>支払条件：<%= @estimate.payment_term %></div>
        <div>有効期限：<%= @estimate.effective_date.to_s %></div>
        <div>合計金額: 000000000000000000000000</div>
      </div>
  
      <div id="right-block">
        <div>見積No.： <%= @estimate.estimate_no %></div>
        <div>見積日: <%= @estimate.issue_date.to_s %></div>
    
        <div><%= @estimate.company_name %></div>
        <div><%= @estimate.postal_code %></div>
        <div><%= @estimate.address1 %></div>
        <div><%= @estimate.address2 %></div>
        <div><%= @estimate.email %></div>
        <div><%= @estimate.tel %></div>
        <div><%= @estimate.fax %></div>
      </div>
    </div>

    <table id="details">
      <thead>
        <tr>
          <td class="detail-no">No.</td>
          <td class="detail-item-name">品名</td>
          <td class="detail-quantity">数量</td>
          <td class="detail-unit-price">単価</td>
          <td class="detail-price">金額</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
        <tr>
          <td class="detail-no">1</td>
          <td class="detail-item-name">test item</td>
          <td class="detail-quantity">999</td>
          <td class="detail-unit-price">10000</td>
          <td class="detail-price">9990000</td>
        </tr>
      </tbody>
      </tbody>
    </table>

    <div>備考：</div>
    <div><%= @estimate.remarks %></div>
  </body>
</html>

