<div class="row mt-1"></div>

<div class="row">
  <div class="col-sm-2">
    <span class="badge badge-info"><%= submitted_estimate_message(@estimate) %></span>
    <span class="badge badge-success"><%= ordered_estimate_message(@estimate) %></span>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary btn-sm">印刷</button>
    <%= link_to t('.edit'), edit_estimate_path(@estimate), class: 'btn btn-warning btn-sm' %>
    <% unless (@estimate.submitted_flag || @estimate.ordered_flag) %>
      <%= link_to t('.destroy'), @estimate, method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>

<div class="row mt-1"></div>

<div class="row">
  <div class="col-sm-7">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="<%= report_estimate_path(@estimate) %>"></iframe>
    </div>
  </div>
</div>
