<p>
  <strong><%= t('activerecord.attributes.estimate.prospect_id') %>:</strong>
  <%= @estimate.prospect.try(:title) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.title') %>:</strong>
  <%= @estimate.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.customer_name') %>:</strong>
  <%= @estimate.customer_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.estimate_no') %>:</strong>
  <%= @estimate.estimate_no %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.issue_date') %>:</strong>
  <%= @estimate.issue_date.to_s %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.due_date') %>:</strong>
  <%= display_due_date(@estimate) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.payment_term') %>:</strong>
  <%= @estimate.payment_term %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.effective_date') %>:</strong>
  <%= @estimate.effective_date.to_s %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.tax_rate') %>:</strong>
  <%= @estimate.tax_rate %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.remarks') %>:</strong>
  <%= @estimate.remarks %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.user_profile_id') %>:</strong>
  <%= @estimate.user_profile.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.estimate.submitted_flag') %>:</strong>
  <%= submitted_message(@estimate) %>
</p>

<%= link_to t('.edit'), edit_estimate_path(@estimate) %> |
<%= link_to t('.back'), estimates_path %>
