<div class="signup-form">
  <h3><%= t('devise.signup') %></h3>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <%= f.label :email, class: 'sr-only' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-control' %>
  
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: @minimum_password_length.to_s + t('devise.characters_minimum'), class: 'form-control' %>
  
    <%= f.label :password_confirmation, class: 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード(確認用)', class: 'form-control' %>
  
    <%= f.submit t("devise.signup"), class: 'btn btn-primary' %>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
