<div class="signup-form">
  <%= image_tag 'logo_transparent.png', size: '350x100' %>

  <div class="row mt-3"></div>

  <h3><%= t('devise.signup') %></h3>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= text_field_tag :company_name, @company_name, autofocus: true, placeholder: '会社名', class: 'form-control' %>

    <%= f.fields_for :user_profile do |user_profile_form| %>
      <%= user_profile_form.label :name, class: 'sr-only' %>
      <%= user_profile_form.text_field :name, class: 'form-control', placeholder: t('devise.your_name') %>
    <% end %>
  
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-control' %>
  
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: @minimum_password_length.to_s + t('devise.characters_minimum'), class: 'form-control' %>
  
    <%= f.label :password_confirmation, class: 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード(確認用)', class: 'form-control' %>
  
    <%= f.submit t("devise.signup"), class: 'btn btn-primary' %>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
