<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<%= form_for(@company_information, html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.text_field :name, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :postal_code, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.text_field :postal_code, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :address1, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.text_field :address1, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :address2, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.text_field :address2, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :email, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.email_field :email, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :tel, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.phone_field :tel, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :fax, class: 'control-label form-control-sm' %>
      <div class="col-sm-5">
        <%= f.phone_field :fax, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1"></div>
    <%= f.submit t('.submit'), class: 'btn btn-primary col-sm-1' %>
  </div>
<% end %>

<%= link_to t('.management_users'), user_profiles_path, class: 'btn btn-success col-sm-2' %>
