<%= form_with(model: sales_report, local: true, class: 'form-horizontal') do |form| %>
  <%= render 'shared/error_messages', object: sales_report %>

  <div class="form-group">
    <div class="field">
      <%= form.label :customer, class: 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <%= form.select :customer_id, @customers.map{|c| [c.name, c.id]}, {}, class: 'form-control form-control-sm searchable' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :user_profile, class: 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <%= form.select :user_profile_id, @users.map{|u| [u.name, u.id]}, {}, class: 'form-control form-control-sm searchable' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :occur_date, class: 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <%= form.date_field :occur_date, id: :sales_report_occur_date, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :description, class: 'control-label col-sm-2' %>
      <div class="col-sm-5">
        <%= form.text_area :description, id: :sales_report_description, class: 'form-control form-control-sm', rows: 10, placeholder: t('.description_placeholder') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1"></div>
    <div class="actions">
      <%= form.submit class: 'btn btn-primary col-sm-1' %>
    </div>
  </div>
<% end %>
