<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<div class="row">
  <%= form_tag sales_reports_path, method: :get, class: 'col-sm-6' do %>
    <div class="input-group input-group-sm">
      <%= text_field_tag :query, @query, class: 'form-control input-sm', placeholder: t('.search_word_placeholder') %>
      <span class="input-group-btn">
        <%= button_tag class: 'btn btn-default btn-sm' do %>
          <%= content_tag :span, t('.search'), class: 'glyphicon glyphicon-search' %>
        <% end %>
      </span>
    </div>
  <% end %>
  
  <div class="pull-right col-sm-2">
    <%= link_to t('.new_sales_report'), new_sales_report_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="row mt-3"></div>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.sales_report.customer') %></th>
      <th><%= t('activerecord.attributes.sales_report.user_profile') %></th>
      <th><%= t('activerecord.attributes.sales_report.occur_date') %></th>
      <th><%= t('activerecord.attributes.sales_report.description') %></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_reports.each do |sales_report| %>
      <tr>
        <td><%= link_to t('.open'), sales_report, class: 'btn btn-info btn-sm' %></td>
        <td><%= sales_report.customer.name %></td>
        <td><%= sales_report.user_profile.name %></td>
        <td><%= sales_report.occur_date.to_s(:date) %></td>
        <td><%= sales_report.description.truncate(50) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @sales_reports, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

