
<h2><%= @sales_report.customer.name %> (<%= @sales_report.occur_date.to_s(:date) %>)</h2>

<div class="row">
  <div class="col-sm-2 pull-right">
    <%= link_to t('.edit'), edit_sales_report_path(@sales_report), class: 'btn btn-warning' %>
    <%= link_to t('.destroy'), @sales_report, method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger' %>
  </div>

  <div class="col-sm-6">
    <h4>
      <strong><%= t('activerecord.attributes.sales_report.user_profile') %>:</strong>
      <%= @sales_report.user_profile.name %>
    </h4>
  </div>
</div>


<h4>
  <strong><%= t('activerecord.attributes.sales_report.description') %></strong>
</h4>
<pre>
<%= @sales_report.description %>
</pre>
