<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.sales_report.customer') %>:</strong>
  </div>
  <div class="col-sm-4">
    <%= @sales_report.customer.name %>
  </div>
  <div class="col-sm-2">
    <%= link_to t('.edit'), edit_sales_report_path(@sales_report), class: 'btn btn-warning btn-sm' %>
    <%= link_to t('.destroy'), @sales_report, method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger btn-sm' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.sales_report.occur_date') %>:</strong>
  </div>
  <div class="col-sm-4">
    <%= @sales_report.occur_date.to_s(:date) %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.sales_report.user_profile') %>:</strong>
  </div>
  <div class="col-sm-4">
    <%= @sales_report.user_profile.name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.sales_report.description') %>:</strong>
  </div>
  <pre class="col-sm-4"><%= @sales_report.description %></pre>
</div>

<div class="row">
  <div class="ml-3">
  </div>
  <h5><%= t('.customer_information') %></h5>
</div>

<div class="row">
  <div class="col-sm-6">
    <h6><%= t('.latest_prospects') %></h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th><%= t('activerecord.attributes.prospect.title') %></th>
        </tr>
      </thead>
      <tbody>
        <% @latest_prospects.each do |prospect| %>
          <tr>
            <td><%= link_to t('.open'), prospect, class: 'btn btn-primary btn-sm' %></td>
            <td><%= prospect.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <h6><%= t('.latest_estimates') %></h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th><%= t('activerecord.attributes.estimate.title') %></th>
        </tr>
      </thead>
      <tbody>
        <% @latest_estimates.each do |estimate| %>
          <tr>
            <td><%= link_to t('.open'), estimate, class: 'btn btn-primary btn-sm' %></td>
            <td><%= estimate.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
