<%= form_with(model: delivery_slip, local: true, class: 'form-horizontal') do |form| %>
  <% if delivery_slip.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% delivery_slip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :order_id, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.select :order_id, @orders.map{|o| [o.title, o.id, data: { detail_path: order_detail_path(o)}]}, { include_blank: true }, id: 'delivery_slip_order_id', class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :delivery_date, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.date_field :delivery_date, id: :delivery_slip_delivery_date, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :remarks, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.text_area :remarks, id: :delivery_slip_remarks, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :user_profile_id, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.select :user_profile_id, @user_profiles.map{|u| [u.name, u.id]}, {}, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :tax_rate, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.text_field :tax_rate, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= form.label :submitted_flag, class: 'control-label col-sm-1' %>
      <div class="col-sm-5">
        <%= form.check_box :submitted_flag, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="details col-sm-6">
      <%= link_to_add_association t('.add_detail'), form, :delivery_slip_details,
        data: {
          association_insertion_node: '#delivery_slip_details',
          association_insertion_method: 'append'
        }
      %>
      <table>
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.delivery_slip_detail.display_order') %></th>
            <th><%= t('activerecord.attributes.delivery_slip_detail.order_detail_id') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="delivery_slip_details">
          <%= form.fields_for :delivery_slip_details do |detail| %>
            <%= render 'delivery_slip_detail_fields', f: detail %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-1"></div>
    <div class="actions">
      <%= form.submit class: 'btn btn-primary col-sm-1' %>
    </div>
  </div>
<% end %>
