<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :payment_term %>
    <%= form.text_field :payment_term, id: :customer_payment_term %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
