<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<div class="row">
  <%= form_tag customers_path, method: :get, class: 'col-sm-6' do %>
    <div class="input-group input-group-sm">
      <%= text_field_tag :query, @query, class: 'form-control input-sm', placeholder: t('.search_word_placeholder') %>
      <span class="input-group-btn">
        <%= button_tag class: 'btn btn-default btn-sm' do %>
          <%= content_tag :span, t('.search') %>
        <% end %>
        <%= link_to t('.save_to_csv'), customers_path(format: :csv), class: 'btn btn-sm btn-success' %>
      </span>
    </div>
  <% end %>

  <div class="pull-right col-sm-4">
    <%= link_to t('.new_entry'), new_customer_path, class: 'btn btn-primary btn-sm' %>
    <%= link_to t('.import_from_csv'), import_form_customers_path %>
  </div>
</div>

<div class="row mt-3"></div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.customer.name') %></th>
      <th><%= t('activerecord.attributes.customer.payment_term') %></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to t('.open'), customer, class: 'btn btn-info btn-sm' %></td>
        <td><%= customer.name %></td>
        <td><%= customer.payment_term %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @customers, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

