<div class="row mt-3"></div>

<h4><%= t('.title') %></h4>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.customer.name') %>:</strong>
  </div>
  <div class="col-sm-4">
    <%= @customer.name %>
  </div>
  <div class="col-sm-2">
    <%= link_to t('.edit'), edit_customer_path(@customer), class: 'btn btn-warning btn-sm' %>
    <%= link_to t('.destroy'), @customer, method: :delete, data: { confirm: t('.are_you_sure') }, class: 'btn btn-danger btn-sm' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <strong><%= t('activerecord.attributes.customer.payment_term') %>:</strong>
  </div>
  <div class="col-sm-4">
    <%= @customer.payment_term %>
  </div>
</div>

<div class="row mt-3"></div>
<div class="row">
  <div class="col-sm-6">
    <h6><%= t('.latest_sales_reports') %></h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th><%= t('activerecord.attributes.sales_report.occur_date') %></th>
          <th><%= t('activerecord.attributes.sales_report.description') %></th>
        </tr>
      </thead>
      <tbody>
        <% @latest_sales_reports.each do |report| %>
        <tr>
          <td><%= link_to t('.open'), report, class: 'btn btn-info btn-sm' %></td>
          <td><%= report.occur_date&.to_s(:date) %></td>
          <td><%= report.description&.truncate(50) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <h6><%= t('.latest_prospects') %></h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th><%= t('activerecord.attributes.prospect.title') %></th>
        </tr>
      </thead>
      <tbody>
        <% @latest_prospects.each do |prospect| %>
        <tr>
          <td><%= link_to t('.open'), prospect, class: 'btn btn-info btn-sm' %></td>
          <td><%= prospect.title.truncate(50) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
