<tr class="nested-fields">
  <td><%= f.text_field :display_order %></td>
  <td><%= f.select :product_id, @products.map{|p| [p.name, p.id]} %></td>
  <td><%= f.text_field :product_name %></td>
  <td><%= f.text_field :quantity %></td>
  <td><%= f.text_field :unit_price %></td>
  <td><%= f.text_field :price, disabled: true %></td>
  <td><%= link_to_remove_association t('.remove_detail'), f %></td>
</tr>
