<h1><%= t('.title') %></h1>

<%= form_tag orders_path, method: :get do %>
  <div class="input-group col-sm-4">
    <%= text_field_tag :query, @query, class: 'form-control' %>
    <span class="input-group-btn">
      <%= button_tag class: 'btn btn-default' do %>
        <%= content_tag :span, t('.search'), class: 'glyphicon glyphicon-search' %>
      <% end %>
    </span>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.order.prospect_id') %></th>
      <th><%= t('activerecord.attributes.order.estimate_id') %></th>
      <th><%= t('activerecord.attributes.order.title') %></th>
      <th><%= t('activerecord.attributes.order.customer_name') %></th>
      <th><%= t('activerecord.attributes.order.order_no') %></th>
      <th><%= t('activerecord.attributes.order.issue_date') %></th>
      <th><%= t('activerecord.attributes.order.due_date') %></th>
      <th><%= t('activerecord.attributes.order.payment_term') %></th>
      <th><%= t('activerecord.attributes.order.remarks') %></th>
      <th><%= t('activerecord.attributes.order.user_profile_id') %></th>
      <th><%= t('activerecord.attributes.order.submitted_flag') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.prospect.try(:title) %></td>
        <td><%= order.estimate.try(:title) %></td>
        <td><%= order.title %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.order_no %></td>
        <td><%= order.issue_date %></td>
        <td><%= order.due_date %></td>
        <td><%= order.payment_term %></td>
        <td><%= order.remarks %></td>
        <td><%= order.user_profile.name %></td>
        <td><%= submitted_order_message(order) %></td>
        <td><%= link_to t('.show'), order %></td>
        <td><%= link_to t('.edit'), edit_order_path(order) %></td>
        <td><%= link_to t('.destroy'), order, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @orders %>

<br>

<%= link_to t('.new_order'), new_order_path %>
