<h1><%= t('.title') %></h1>

<%= form_tag prospects_path, method: :get do %>
  <div class="input-group col-sm-4">
    <%= text_field_tag :query, @query, class: 'form-control' %>
    <span class="input-group-btn">
      <%= button_tag class: 'btn btn-default' do %>
        <%= content_tag :span, t('.search'), class: 'glyphicon glyphicon-search' %>
      <% end %>
    </span>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.prospect.title') %></th>
      <th><%= t('activerecord.attributes.prospect.customer_id') %></th>
      <th><%= t('activerecord.attributes.prospect.rank') %></th>
      <th><%= t('activerecord.attributes.prospect.prospect_amount') %></th>
      <th><%= t('activerecord.attributes.prospect.prospect_order_date') %></th>
      <th><%= t('activerecord.attributes.prospect.prospect_earning_date') %></th>
      <th><%= t('activerecord.attributes.prospect.distribute') %></th>
      <th><%= t('activerecord.attributes.prospect.user_profile_id') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.title %></td>
        <td><%= prospect.customer.name %></td>
        <td><%= prospect.rank %></td>
        <td><%= prospect.prospect_amount %></td>
        <td><%= prospect.prospect_order_date.to_s(:date) %></td>
        <td><%= prospect.prospect_earning_date.to_s(:date) %></td>
        <td><%= prospect.distribute %></td>
        <td><%= prospect.user_profile.name %></td>
        <td><%= link_to t('.show'), prospect %></td>
        <td><%= link_to t('.edit'), edit_prospect_path(prospect) %></td>
        <td><%= link_to t('.destroy'), prospect, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @prospects, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

<br>

<%= link_to t('.new_prospect'), new_prospect_path %>
