<h1><%= t('.title') %></h1>

<%= form_tag products_path, method: :get do %>
  <div class="input-group col-sm-4">
    <%= text_field_tag :query, @query, class: 'form-control' %>
    <span class="input-group-btn">
      <%= button_tag class: 'btn btn-default' do %>
        <%= content_tag :span, t('.search'), class: 'glyphicon glyphicon-search' %>
      <% end %>
    </span>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product.name') %></th>
      <th><%= t('activerecord.attributes.product.default_price') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.default_price %></td>
        <td><%= link_to t('.show'), product %></td>
        <td><%= link_to t('.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('.destroy'), product, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>

<br>

<%= link_to t('.new_product'), new_product_path %>
