<!DOCTYPE html>
<html>
  <head>
    <title>Rails CRM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <!-- brand -->
      <%= link_to 'Rails CRM', root_path, class: 'navbar-brand' %>
      <!-- toggle button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to t('layout.sales_reports'), sales_reports_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('layout.prospects'), prospects_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to t('layout.estimates'), estimates_path, class: 'nav-link' %></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">設定<span class="caret"></span></a>
            <div class="dropdown-menu navbar-dark" role="menu">
              <%= link_to t('layout.customers'), customers_path, class: 'dropdown-item' %>
              <%= link_to t('layout.products'), products_path, class: 'dropdown-item' %>
              <%= link_to t('layout.mysetting'), mysetting_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item"><%= link_to t('devise.signout'), destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
    <% end %>
    <div class="container-fluid">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
