<!DOCTYPE html>
<html>
  <head>
    <title>RailsSalesManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <% if signed_in? %>
      <nav>
        <ul>
          <li><%= link_to t('layout.sales_reports'), sales_reports_path %></li>
          <li><%= link_to t('layout.customers'), customers_path %></li>
          <li><%= link_to t('layout.prospects'), prospects_path %></li>
          <li><%= link_to t('layout.estimates'), estimates_path %></li>
          <li><%= link_to t('layout.orders'), orders_path %></li>
          <li><%= link_to t('layout.delivery_slips'), delivery_slips_path %></li>
          <li><%= link_to t('layout.earnings'), earnings_path %></li>
          <li><%= link_to t('layout.products'), products_path %></li>
          <li><%= link_to t('layout.closing_groups'), closing_groups_path %></li>
          <li><%= link_to t('layout.mysetting'), mysetting_path %></li>
          <li><%= link_to t('devise.signout'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
